body {
    margin: 0;
    font-family: Arial;
    background: #f4f4f4;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0a3d62;
    padding: 10px 20px;
    color: white;
}

.logo {
    width: 150px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

/* HERO */
.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 40%;
    left: 10%;
    color: white;
}

/* GRID */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* CARD */
.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

/* FILTROS */
.filtros {
    text-align: center;
    margin: 20px;
}

button {
    padding: 10px;
    margin: 5px;
    background: #0a3d62;
    color: white;
    border: none;
    cursor: pointer;
}

/* FORM */
form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

input, textarea {
    margin: 5px 0;
    padding: 8px;
}

/* TABLE */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 10px;
}

/* FOOTER */
footer {
    background: #0a3d62;
    color: white;
    text-align: center;
    padding: 10px;
}

/* RESPONSIVE */
@media (max-width: 600px) {
    .header {
        flex-direction: column;
    }
}

/* PERFIL */
.perfil {
    display: flex;
    align-items: center;
    gap: 25px;
    background: white;
    padding: 20px;
    margin: 40px auto;
    width: 80%;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.foto-perfil {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
    border: 4px solid #0a3d62;
}

.catalogo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    gap: 20px;
    padding: 20px;
}

.producto {
    background: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.producto img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.producto strong {
    display: block;
    margin-top: 10px;
    color: #0a3d62;
}