body {
    margin: 0;
    font-family:'Poppins', sans-serif;
    background: #f4f4f4;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(
    135deg,
    #0f172a,
    #0f4c75
);
    padding: 10px 20px;
    color: white;
}

.logo {
    width: 150px;
}

nav a {
    color: white;

    margin: 10px 15px;

    text-decoration: none;

    font-weight: 600;

    letter-spacing: 1px;

    transition: 0.3s;
}

nav a:hover{
    color:#00d4ff;
}

/* HERO */
.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: 420px;
    object-fit: cover;
    filter: brightness(0.75);
}

.hero-text {
    position: absolute;
    top: 40%;
    left: 10%;
    color: white;
}

/* GRID */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* CARD */
.card {
    background: white;
    padding: 15px;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
    transition: 0.3s;
    text-align:center;
    border:1px solid #e2e8f0;
}

.card:hover{
    transform:translateY(-6px);

    box-shadow:0 15px 35px rgba(0,0,0,0.15);
}

.card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    padding: 12px;
    background:linear-gradient(
        135deg,
        #e2e8f0,
        #cbd5e1
        );
    border-radius: 10px;
}

/* FILTROS */
.filtros {
    text-align: center;
    margin: 20px;
}

button {
    padding: 10px;
    margin: 5px;
    background: #0a3d62;
    color: white;
    border: none;
    cursor: pointer;
}

button{

    transition:0.3s;

    border:none;

    border-radius:12px;

    font-weight:600;

    letter-spacing:1px;
}

button.activo{

    background:linear-gradient(
        135deg,
        #1e3a8a,
        #2563eb
    );

    color:white;

    transform:scale(1.08);

    box-shadow:
    0 10px 25px rgba(37,99,235,0.35);
}

/* FORM */
form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

input, textarea {
    margin: 5px 0;
    padding: 8px;
}

/* TABLE */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 10px;
}

/* FOOTER */
footer {
    background: #0a3d62;
    color: white;
    text-align: center;
    padding: 10px;
}

/* RESPONSIVE */
@media (max-width: 600px) {
    .header {
        flex-direction: column;
    }
}

/* PERFIL */
.perfil {
    display: flex;
    align-items: center;
    gap: 25px;
    background: white;
    padding: 20px;
    margin: 40px auto;
    width: 80%;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.foto-perfil {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
    border:8px solid #00b4d8;
    background:linear-gradient(
135deg,
#e2e8f0,
#cbd5e1
);
}

.btn-catalogo:hover{

    transform:translateY(-4px);

    background:linear-gradient(
        135deg,
        #13678a,
        #00d4ff
    );

    box-shadow:0 12px 25px rgba(0,180,216,0.35);
}

.catalogo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    gap: 20px;
    padding: 20px;
}

.producto {
    background: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.producto img{
    width:100%;

    height:260px;

    object-fit:contain;

    object-position:center;

    background:white;

    padding:15px;

    border-radius:14px;
}

.producto strong {
    display: block;
    margin-top: 20px;
    color: #0a3d62;
}





.btn-catalogo{
    display:inline-block;
    margin-top:15px;
    padding:14px 25px;
    
    background:linear-gradient(
        135deg,
        #0f4c75,
        #00b4d8
    );
    
    color:rgb(255, 255, 255);
    text-decoration:none;
    
    font-size:24px;
    font-weight:bold;
    
    border-radius:14px;
    
    box-shadow:0 8px 20px rgba(0,0,0,0.25);
    
    transition:0.3s;
     /* 🔥 PREMIUM */
    font-family:'Poppins', sans-serif;

    letter-spacing:1px;

    text-transform:uppercase;
}

h1,h2,h3{
    letter-spacing:1px;
}